<%= form_with model: product do |form| %>
  <%= render "layouts/errors", obj: product %>
  <div class="mb-3 row">
    <%= form.label :name, class: "form-label" %>
    <div class="col-sm-4">
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :sku, class: "form-label" %>
    <div class="col-sm-4">
      <%= form.text_field :sku, class: "form-control", required: true %>
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <div class="col-sm-4">
      <%= form.number_field :price, class: "form-control", min: 0, step: 0.01, required: true %>
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :stock_quantity, class: "form-label" %>
    <div class="col-sm-4">
      <%= form.number_field :stock_quantity, class: "form-control", min: 0, step: 1, required: true %>
    </div>
  </div>
  <div>
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Back to Product Listing", root_path, class: "btn btn-secondary" %>
  </div>
  <br>

<% end %>