<h3>Product </h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>SKU</th>
        <th>Price</th>
        <th>Stock Quantity</th>
    </tr>
    <tr>
        <td><%= @product.name %></td>
        <td><%= @product.sku %></td>
        <td><%= @product.price %></td>
        <td><%= @product.stock_quantity %></td>
    </tr>
</table>
<%= link_to "Edit",edit_product_path(@product), class: "btn btn-primary" %>
<%= link_to "Back", root_path, class: "btn btn-secondary"%>
